@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-3xl font-bold text-text;
  }
  h2 {
    @apply text-2xl font-bold text-text;
  }
  h3 {
    @apply text-xl font-semibold text-text;
  }
  h4 {
    @apply text-lg font-semibold text-text;
  }
  h5 {
    @apply text-base font-medium text-text;
  }
  h6 {
    @apply text-sm font-normal text-text;
  }
  html,
  body {
    @apply h-screen;
    @apply scroll-smooth;
    @apply bg-slate-50;
  }
  * {
    @apply p-0;
  }
}
@layer utilities {
  .full-height {
    height: 100vh;
    min-height: 100vh;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hover\:animate-blink:hover {
  animation: blink 1s infinite;
}
.hover\:fill-red:hover svg path {
  fill: red;
}

.ant-collapse-header{
  @apply text-base font-semibold text-text hover:bg-red-50;
}
.description-btn:before{
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 15%, #fff);
}
::-webkit-scrollbar {
  display: none;
}
.font-nunito{
  font-family: 'Nunito', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.ant-modal {
  top: 50% !important;
  transform: translateY(-60%) !important;
}